{% include 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



  <!-- Include your own custom CSS here -->



    <meta charset="UTF-8">
    <title>Index - Online Fire Reporting System</title>
</head>
<body>
<div >

    <h1 class="text-center text-danger">Online Fire Reporting System</h1>
    <div class="row">
        <div class="col-6">
            <img src="{% static 'images/gallery-5.jpg' %}" class="image-fluid">
        </div>

        <div class="col-6">
            Fire reporting is typically carried out by trained personnel, such as firefighters, fire investigators, or emergency dispatchers. They collect information about the fire incident, including the location, time of occurrence, type of structure or property involved, extent of fire spread, and any injuries or casualties. This information is then recorded in fire incident reports, which are shared with relevant stakeholders, including fire departments, law enforcement agencies, insurance companies, and regulatory authorities.

The process of fire reporting may vary depending on local regulations, emergency response protocols, and the specific systems and procedures in place within a given jurisdiction. It is important to follow established reporting guidelines and procedures to ensure accurate and timely communication of fire incidents.
        </div>

    </div>

</div>

</body>
</html>
{% include 'footer.html' %}